* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: #171717;
    background-color: #E5E5E5;
    margin: 0;
}

.content {
    min-width: 700px;
    max-width: 1000px;
    background-color: #F9F9F9;
    margin: 0 auto;
    padding: 65px 45px 110px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 80px;
}

.hint {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 24px;
}
.star {
    color: #D83933;
}

.box {
    margin-bottom: 32px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 12px;
}
.box__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.box__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input {
    width: calc(50% - 16px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
input, select {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 10px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background-color: #FFFFFF;
}
.input__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 8px;
}
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url("../img/arrow-down-s-line.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 24px 24px;
}
.select::-ms-expand {
    display: none;
}
.disabled {
    background: #EFEFEF;
}
.blue {
    color: #0050D8;
}
.check {
    width: calc(50% - 16px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.check__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding-left: 8px;
}
input[type="checkbox"] {
    width: 24px;
    height: 24px;
}
.sel_dis {
    color: #747474;
}
.search {
    background-image: url("../img/search-line.svg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 24px 24px;
}
input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration {
	display: none;
}
input[type='search']::-ms-clear {
	display: none;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.input__button {
    color: #FFFFFF;
    background-color: #0050D8;
    padding: 10px 16px;
    cursor: pointer;
}