* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

.container {
    max-width: 1400px;
    background-color: #212529;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 100px;
    padding: 8px 12px;
}
.logo img {
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.nav li {
    display: flex;
}
.nav a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 12.5px;
}
.nav a:link {
    text-decoration: none;
}
.nav a:visited {
    color: #FFFFFF;
}
.nav a:hover {
    color: #FFB742;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.nav a:active {
    text-shadow: 1px 1px 1px #D4D4D4;
}

.hire_me {
    background-color: #FFB742;
    border-radius: 50px;
    border: 2px solid #FFB742;
    width: fit-content;
}
.button {
    padding: 12px 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #212529;
}
.hire_me a:link {
    text-decoration: none;
}
.hire_me a:visited {
    color: #212529;
}
.hire_me a:active {
    text-shadow: 2px 2px 2px #D4D4D4;
    opacity: 0.7;
}



.hi {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 110px auto;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    text-transform: capitalize;
}
.hi__name {
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
}
.hi__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
}
.hi__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    margin: 22px 0;
}
.hi__image {
    width: 210px;
    border-radius: 50%;
    margin: 0 auto;
}
.hi__image img {
    width: 100%;
}
.active {
    color: #FFB742;
}



.nav__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 60px;
    margin-bottom: 65px;
}
.box__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 33.3%;
    margin: 0 12px;
    background-color: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
}
.box__image {
    width: 64px;
    margin: 28px 30px;
}
.box__image img {
    width: 100%;
}
.box__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    color: #FFB742;
    text-align: center;
    margin-top: 25px;
}
.box__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
}
.symbol {
    width: 20px;
    margin: 50px;
}
.symbol img {
    width: 100%;
}
.box__item:hover {
    background-color: #FFB742;
    color: #000000;
    transition: all .4s ease-in-out;
}
.box__item:hover .box__title {
    background-color: #FFB742;
    color: #000000;
    transition: all .4s ease-in-out;
}


.about_me {
    display: flex;
    flex-direction: row;
    padding: 65px 30px;
    justify-content: space-around;
    align-items: center;
}
.foto {
    margin: 0 20px;
    width: calc(100% - 50% - 40px);
}
.foto img {
    width: 100%;
}
.about__content {
    width: 50%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.link__block {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    margin-bottom: 10px;
}
.link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
    padding: 6px 25px;
    text-decoration: none;
}
.title__block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.text__block {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
    margin-bottom: 55px;
}


.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px 100px 100px;
}
.works__nav {
    margin-bottom: 35px;
}
.works__nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.works__nav li {
    display: flex;
}
.works__nav a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 5px 20px;
}
.works__nav a:link {
    text-decoration: none;
}
.works__nav a:visited {
    color: #FFFFFF;
}
.works__nav a:hover {
    color: #212529;
    background-color: #FFB742;
    padding: 5px 20px;
    border-radius: 3px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.works__nav a:active {
    text-shadow: 1px 1px 1px #E5E5E5;
}

.works__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work__item {
    width: 30%;
    margin: 15px;
}
.work__item img {
    width: 100%;
}


footer {
    background-color: #1C1C1C;
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Work Sans';
    font-style: normal;
}
.footer__nav {
    display: flex;
    flex-direction: column;
}
.name__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
    margin-bottom: 30px;
}
.name__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
}
.footer__title {
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    margin-bottom: 30px;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer li {
    display: flex;
}
footer a:link {
    text-decoration: none;
    color: #7B7B7B;
}
footer a:visited {
    color: #7B7B7B;
}
footer a:hover {
    text-shadow: 1px 1px 1px #E5E5E5;
}
footer a:active {
    color: black;
    opacity: 0.5;
}
.footer__text {
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
}

.footer__link {
    margin-top: 30px;
    position: relative;
}
.link__text {
    font-weight: 400;
    font-size: 15.8118px;
    line-height: 23px;
    color: #7C7C7C;
    padding: 20px 24px;
    background-color: #212529;
    border-radius: 49px;
    width: 100%;
    border: none;
}
.link__button a {
    position: absolute;
    top: -1px;
    right: 0;
    padding: 20px;
    border-radius: 48px;
    background-color: #FFB742;
}
