.burger {
    width: 1.875rem;
    height: 1.25rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 1.875rem;
    cursor: pointer;
    span {
        width: 1.875rem;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $colorWhite;
        &:nth-of-type(2) {
            top: calc(50% - 0.375rem);
        }
        &:nth-of-type(3) {
            top: calc(50% + 0.375rem);
        }
    }
}

