

.button {
    background-color: $colorBlue;
    border-radius: 25px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.375rem;
    color: $colorWhite;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        background-color: $colorHover;
    }
}
