.feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.375rem 4.375rem 3.75rem 4.375rem;
    border: 1px solid $colorBorder;
    .feature__title {
        font-size: 2.125rem;
        letter-spacing: -1px;
        line-height: 1.625rem;
        color: $colorCardTitle;
        font-weight: 700;
        font-family: "Poppins";
        text-align: center;
        margin-top: 2.5rem;
        text-transform: uppercase;
    }
    .feature__text {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $colorText;
        font-weight: 300;
        font-family: "Montserrat";
        text-align: center;
        margin: 1.25rem 0;
    }
}



