.click_here {
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: $colorBlue;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}