.logo a {
    font-size: 2rem;
    letter-spacing: -2px;
    line-height: 4rem;
    color: $colorLogo;
    font-weight: 900;
    font-family: "Poppins";
    text-decoration: none;
    padding: 0 1.5rem;
    text-transform: uppercase;
    &:hover {
        text-shadow: 2px 2px 5px $colorHover;
    }
}




@media screen and (max-width: 768px) {
    .logo a {
        font-size: 4rem;
    }
}