

body {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 53, 53);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content {
    margin: 0 auto;
    max-width: 112.5rem;
    display: flex;
    flex-direction: column;
    background: url(../img/BG/Footer\ BG.png), url(../img/BG/image.jpg), #FFFFFF;
    background-repeat: no-repeat no-repeat;
    background-position: bottom, top, 100% 100%;
    background-size: 100% 43.75rem, 100% 56.25rem, 100% 100%;
}




.container {
    max-width: 93.75rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 1);
}


// HEADER

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $borderHeaderFooter;
    background-color: $bgHeader;
    max-width: 112.5rem;
    margin: 0 auto;

}

.header__left {
    display: flex;
    flex-direction: row;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $borderHeaderFooter;
        }
}

.header__right {
    display: flex;
    flex-direction: row;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $borderHeaderFooter;
        }
}


.cart a {
    padding: 1.125rem;
}


// HEADER_MAIN_IMAGE

.page__name {
    width: 52rem;
    padding-top: 15rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8.75rem;
}

.button__shop_now {
    text-align: center;
}


// Spl Feature

.spl__feature {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


// Spl Offers

.spl__offers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


// Feauche Prodacts

.feauche__prodacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.block__mens {
    background-color: #232323;
    padding: 3rem;
    .mens__title {
        font-size: 2.75rem;
        letter-spacing: -1px;
        line-height: 2.75rem;
        color: $colorWhite;
        font-weight: 700;
        font-family: "Poppins";
        text-transform: uppercase;
    }
    .mens__subtitle {
        font-size: 0.875rem;
        letter-spacing: 0.375rem;
        line-height: 1.25rem;
        color: $colorWhite;
        font-weight: 400;
        font-family: "Montserrat";
        margin: 2rem 0 3rem 0;
    }
    .button__shop_now {
        text-align: left;
    }
    .button {
        padding: 1rem 1.5rem;
    }
}

.block__womens {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background: url(../img/BG/Layer\ 17.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5rem 0 3.125rem 3.125rem;
    .womens__title {
        width: 50%;
        font-size: 3.75rem;
        letter-spacing: -1px;
        line-height: 3.75rem;
        color: $colorWhite;
        font-weight: 700;
        font-style: italic;
        font-family: "Poppins";
    }
    .button__shop_now {
        text-align: left;
        margin: 2rem 0 0 0;
    }
}
.block__click_here {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


// Block Image

.block__image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.foto {
    background-color: #121212;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



// Block Brands

.wrapper__brands {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.brands {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.75rem;
    border: 1px solid rgba(0, 0, 0, .2);
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


// FOOTER

.footer {
    max-width: 93.75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 6.25rem 0;
}

.navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2.5rem 5rem;
    border-bottom: 1px solid $borderHeaderFooter;
    .footer__title {
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 2rem;
        color: $colorBlue;
        font-weight: 400;
        font-family: "Poppins";
        text-transform: uppercase;
        margin: 0 0 3rem 0;
    }
}

.connected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .footer__title {
        margin: 0 0 1.5rem 0;
    }
}

.newsletter {
    margin: 5.5rem 0 0 0;
    width: 100%;
    .button__shop_now {
        text-align: left;
        margin: 1.5rem 0 0 0;
    }
}
















@media screen and (max-width: 1600px) {
    html {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 8px !important;
    }

    .content {
        background-size: 100% 110.75rem, 100% 56.25rem, 100% 100%;
    }

    // FOOTER

    .navigate {
        flex-direction: column;
    }

    .connected {
        margin: 2.5rem 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 6px !important;
    }

    // HEADER

    .header__content {
        flex-direction: column;
        align-items: center;
    }
    .header__left {
        flex-direction: column;
        li {
            border: none;
        }
    }
    .header__right {
        display: none;
        li {
            border: none;
        }
    }

    // Spl Feature

    .spl__feature {
        grid-template-columns: repeat(2, 1fr);
    }

    // Spl Offers

    .spl__offers {
        grid-template-columns: repeat(1, 1fr);
    }

    // Feauche Prodacts

    .feauche__prodacts {
        grid-template-columns: repeat(2, 1fr);
    }

    .block__womens {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    
    .block__click_here {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }

    // Block Image

    .block__image {
        grid-template-columns: repeat(2, 1fr);
    }

    // Block Brands

    .wrapper__brands {
        grid-template-columns: repeat(3, 1fr);
    }


}