
// HEADER NAVS

.product__group ul {
    display: flex;
    flex-direction: row;
    padding: 0 1.125rem;
    li {
        border: none;    
        a {
            font-size: 0.875rem;
            letter-spacing: 0px;
            line-height: 1.625rem;
            color: $colorWhite;
            font-weight: 600;
            font-family: "Montserrat";
            padding: 1.125rem;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: $colorHover;
            }
        }
    }
}


.networks ul {
    display: flex;
    flex-direction: row;
    padding: 0 1.125rem;
    li {
        border: none;
        a {
            padding: 1.125rem;
        }
    }
}


// FOOTER NAVS

.list a {
    color: $colorList;
    text-decoration: none;
    padding: 0.5rem 0;
    &:hover {
        text-shadow: 2px 2px 10px $colorHover;
        color: $colorHover;
    }
}


.stay_connected ul {
    display: flex;
    flex-direction: row;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $colorWhite;
        margin: 0 1.625rem 0 0;
        padding: 1rem;
        &:hover {
            background-color: $colorHover;
        }
        img {
            height: 20px;
            width: 20px;
        }
    }
}





@media screen and (max-width: 1200px) {
    .list {
        margin: 0 0 2.5rem 0;
    }
}


@media screen and (max-width: 768px) {
    .product__group li a {
        font-size: 2rem;
        margin-top: 1rem;
    }
}