
// Promotion

.offers__promotion {
    padding: 7.5rem 8.125rem 5rem;
    background-color: #f2f0f0;
    display: flex;
    flex-direction: column;
    .promotion__sub-title {
        font-size: 1.25rem;
        letter-spacing: 1px;
        line-height: 1.5ren;
        color: #616161;
        font-weight: 600;
        font-family: "Poppins";
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 2rem 0;
    }
    .promotion__title {
        font-size: 2.75rem;
        line-height: 2.75rem;
        color: $colorCardTitle;
        font-weight: 700;
        font-family: "Poppins";
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0 0 3.25rem 0;
    }
    .promotion__text {
        font-size: 1.125rem;
        line-height: 2.875rem;
        color: $colorText;
        font-weight: 300;
        font-family: "Montserrat";
        text-align: center;
        margin: 3rem 0 3.25rem 0;
    }
    .promotion__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 0 3.125rem 0;
        .discount {
            color: $colorBlue;
            font-weight: 700;
            font-family: "Montserrat";
            text-align: center;
            font-size: 3.25rem;
            line-height: 3.875rem;
            margin-right: 3.125rem;
        }
        .not_discount {
            text-decoration: line-through;
            color: #121212;
            font-weight: 500;
            font-family: "Montserrat";
            text-align: center;
            font-size: 2.125rem;
            line-height: 3.625rem;
        }
    }
    .promotion__time {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 0 2rem 0;
        .time__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 1.25rem;
            background-color: $colorWhite;
            margin: 0 1rem;
            padding: 1.5rem;
            .time__title {
                font-size: 2.375rem;
                line-height: 2rem;
                color: #2d2b27;
                font-weight: 600;
                font-family: "Montserrat";
                text-align: center;
            }
            .doted {
                font-size: 1rem;
                letter-spacing: 1px;
                line-height: 1rem;
                color: #121212;
                font-weight: 400;
                font-family: "Montserrat";
                text-align: center;
                margin-bottom: 1rem;
            }
            .time__label {
                font-size: 0.75rem;
                letter-spacing: 1px;
                line-height: 0.5rem;
                color: #2d2b27;
                font-weight: 600;
                font-family: "Montserrat";
                text-align: center;
            }
        }
    }
}





// Image

.offers__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}