.prodacts {
    padding: 4rem 2rem 3rem;
    border: 1px solid $colorBorder;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .prodacts__image {
        width: 16.75rem;
        height: 10rem;
        margin-bottom: 2.75rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            text-align: center;
        }
    }
    .prodacts__label {
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $colorCardTitle;
        font-weight: 700;
        font-family: "Poppins";
        margin: 0 0 1rem 0;
    }
    .prodacts__price {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        line-height: 1.5rem;
        .discount {
            margin: 0 0.5rem 0 0;
            color: $colorBlue;
            font-weight: 700;
            font-family: "Montserrat";
            text-align: center;
        }
    }
    &:hover .prodacts__image img {
        transform: scale(2);
        transition: all 1s ease-in-out;
    }
}





@media screen and (max-width: 768px) {
    .prodacts {
        align-items: center;
    }
}