.search {
    display: flex;
    align-items: center;
    justify-content: center;
    .search__input {
            display: none;
        }
    a {
        padding: 1.125rem;
    }

    &:hover .search__img {
        display: none;
    }

    &:hover .search__input {
        display: block;
        padding: 1.125rem;
    }
}