* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(53, 53, 53);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content {
  margin: 0 auto;
  max-width: 112.5rem;
  display: flex;
  flex-direction: column;
  background: url(../img/BG/Footer\ BG.png), url(../img/BG/image.jpg), #FFFFFF;
  background-repeat: no-repeat no-repeat;
  background-position: bottom, top, 100% 100%;
  background-size: 100% 43.75rem, 100% 56.25rem, 100% 100%;
}

.container {
  max-width: 93.75rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 3rem rgb(0, 0, 0);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(33, 33, 33, 0.4);
  max-width: 112.5rem;
  margin: 0 auto;
}

.header__left {
  display: flex;
  flex-direction: row;
}
.header__left li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header__right {
  display: flex;
  flex-direction: row;
}
.header__right li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.cart a {
  padding: 1.125rem;
}

.page__name {
  width: 52rem;
  padding-top: 15rem;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8.75rem;
}

.button__shop_now {
  text-align: center;
}

.spl__feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.spl__offers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feauche__prodacts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.block__mens {
  background-color: #232323;
  padding: 3rem;
}
.block__mens .mens__title {
  font-size: 2.75rem;
  letter-spacing: -1px;
  line-height: 2.75rem;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins";
  text-transform: uppercase;
}
.block__mens .mens__subtitle {
  font-size: 0.875rem;
  letter-spacing: 0.375rem;
  line-height: 1.25rem;
  color: #fff;
  font-weight: 400;
  font-family: "Montserrat";
  margin: 2rem 0 3rem 0;
}
.block__mens .button__shop_now {
  text-align: left;
}
.block__mens .button {
  padding: 1rem 1.5rem;
}

.block__womens {
  grid-column: 3/5;
  grid-row: 2/3;
  background: url(../img/BG/Layer\ 17.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.5rem 0 3.125rem 3.125rem;
}
.block__womens .womens__title {
  width: 50%;
  font-size: 3.75rem;
  letter-spacing: -1px;
  line-height: 3.75rem;
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-family: "Poppins";
}
.block__womens .button__shop_now {
  text-align: left;
  margin: 2rem 0 0 0;
}

.block__click_here {
  grid-column: 1/5;
  grid-row: 4/5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.block__image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.foto {
  background-color: #121212;
}
.foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper__brands {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.75rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.brands img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  max-width: 93.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 6.25rem 0;
}

.navigate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2.5rem 5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navigate .footer__title {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 2rem;
  color: #3954d9;
  font-weight: 400;
  font-family: "Poppins";
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

.connected {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.connected .footer__title {
  margin: 0 0 1.5rem 0;
}

.newsletter {
  margin: 5.5rem 0 0 0;
  width: 100%;
}
.newsletter .button__shop_now {
  text-align: left;
  margin: 1.5rem 0 0 0;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 8px !important;
  }
  .content {
    background-size: 100% 110.75rem, 100% 56.25rem, 100% 100%;
  }
  .navigate {
    flex-direction: column;
  }
  .connected {
    margin: 2.5rem 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 6px !important;
  }
  .header__content {
    flex-direction: column;
    align-items: center;
  }
  .header__left {
    flex-direction: column;
  }
  .header__left li {
    border: none;
  }
  .header__right {
    display: none;
  }
  .header__right li {
    border: none;
  }
  .spl__feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .spl__offers {
    grid-template-columns: repeat(1, 1fr);
  }
  .feauche__prodacts {
    grid-template-columns: repeat(2, 1fr);
  }
  .block__womens {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .block__click_here {
    grid-column: 1/3;
    grid-row: 7/8;
  }
  .block__image {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper__brands {
    grid-template-columns: repeat(3, 1fr);
  }
}
.burger {
  width: 1.875rem;
  height: 1.25rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 1.875rem;
  cursor: pointer;
}
.burger span {
  width: 1.875rem;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.burger span:nth-of-type(2) {
  top: calc(50% - 0.375rem);
}
.burger span:nth-of-type(3) {
  top: calc(50% + 0.375rem);
}

.button {
  background-color: #3954d9;
  border-radius: 25px;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.375rem;
  color: #fff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}
.button:hover {
  background-color: #65cbff;
}

.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.375rem 4.375rem 3.75rem 4.375rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.feature__item .feature__title {
  font-size: 2.125rem;
  letter-spacing: -1px;
  line-height: 1.625rem;
  color: #0d2e57;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  margin-top: 2.5rem;
  text-transform: uppercase;
}
.feature__item .feature__text {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #8a8a8a;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  margin: 1.25rem 0;
}

.newsletter__input {
  border-radius: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #2f2f2f;
  border: none;
  color: #fff;
}

.click_here {
  font-size: 0.875rem;
  line-height: 1.625rem;
  color: #3954d9;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.logo a {
  font-size: 2rem;
  letter-spacing: -2px;
  line-height: 4rem;
  color: #f5f5f5;
  font-weight: 900;
  font-family: "Poppins";
  text-decoration: none;
  padding: 0 1.5rem;
  text-transform: uppercase;
}
.logo a:hover {
  text-shadow: 2px 2px 5px #65cbff;
}

@media screen and (max-width: 768px) {
  .logo a {
    font-size: 4rem;
  }
}
.product__group ul {
  display: flex;
  flex-direction: row;
  padding: 0 1.125rem;
}
.product__group ul li {
  border: none;
}
.product__group ul li a {
  font-size: 0.875rem;
  letter-spacing: 0px;
  line-height: 1.625rem;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat";
  padding: 1.125rem;
  text-decoration: none;
  text-transform: uppercase;
}
.product__group ul li a:hover {
  color: #65cbff;
}

.networks ul {
  display: flex;
  flex-direction: row;
  padding: 0 1.125rem;
}
.networks ul li {
  border: none;
}
.networks ul li a {
  padding: 1.125rem;
}

.list a {
  color: #f0f0f0;
  text-decoration: none;
  padding: 0.5rem 0;
}
.list a:hover {
  text-shadow: 2px 2px 10px #65cbff;
  color: #65cbff;
}

.stay_connected ul {
  display: flex;
  flex-direction: row;
}
.stay_connected ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 1.625rem 0 0;
  padding: 1rem;
}
.stay_connected ul a:hover {
  background-color: #65cbff;
}
.stay_connected ul a img {
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1200px) {
  .list {
    margin: 0 0 2.5rem 0;
  }
}
@media screen and (max-width: 768px) {
  .product__group li a {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
.offers__promotion {
  padding: 7.5rem 8.125rem 5rem;
  background-color: #f2f0f0;
  display: flex;
  flex-direction: column;
}
.offers__promotion .promotion__sub-title {
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.5ren;
  color: #616161;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
}
.offers__promotion .promotion__title {
  font-size: 2.75rem;
  line-height: 2.75rem;
  color: #0d2e57;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0 0 3.25rem 0;
}
.offers__promotion .promotion__text {
  font-size: 1.125rem;
  line-height: 2.875rem;
  color: #8a8a8a;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  margin: 3rem 0 3.25rem 0;
}
.offers__promotion .promotion__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 3.125rem 0;
}
.offers__promotion .promotion__price .discount {
  color: #3954d9;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  font-size: 3.25rem;
  line-height: 3.875rem;
  margin-right: 3.125rem;
}
.offers__promotion .promotion__price .not_discount {
  text-decoration: line-through;
  color: #121212;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  font-size: 2.125rem;
  line-height: 3.625rem;
}
.offers__promotion .promotion__time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
}
.offers__promotion .promotion__time .time__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1.25rem;
  background-color: #fff;
  margin: 0 1rem;
  padding: 1.5rem;
}
.offers__promotion .promotion__time .time__item .time__title {
  font-size: 2.375rem;
  line-height: 2rem;
  color: #2d2b27;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}
.offers__promotion .promotion__time .time__item .doted {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1rem;
  color: #121212;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 1rem;
}
.offers__promotion .promotion__time .time__item .time__label {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 0.5rem;
  color: #2d2b27;
  font-weight: 600;
  font-family: "Montserrat";
  text-align: center;
}

.offers__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__title {
  font-size: 12.75rem;
  letter-spacing: -1rem;
  line-height: 9.25rem;
  color: #fff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  text-transform: uppercase;
}

.page__sub-title {
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  line-height: 1.75rem;
  color: #fff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-top: 1.5rem;
  margin-bottom: 3.125rem;
  text-transform: uppercase;
}

.prodacts {
  padding: 4rem 2rem 3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.prodacts .prodacts__image {
  width: 16.75rem;
  height: 10rem;
  margin-bottom: 2.75rem;
}
.prodacts .prodacts__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
}
.prodacts .prodacts__label {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #0d2e57;
  font-weight: 700;
  font-family: "Poppins";
  margin: 0 0 1rem 0;
}
.prodacts .prodacts__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.prodacts .prodacts__price .discount {
  margin: 0 0.5rem 0 0;
  color: #3954d9;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.prodacts:hover .prodacts__image img {
  transform: scale(2);
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .prodacts {
    align-items: center;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .search__input {
  display: none;
}
.search a {
  padding: 1.125rem;
}
.search:hover .search__img {
  display: none;
}
.search:hover .search__input {
  display: block;
  padding: 1.125rem;
}/*# sourceMappingURL=index.css.map */