
* {
    box-sizing: border-box;
}

$size: 16px;
$colorBlue: #3954d9;
$colorHover: #65cbff;
$colorWhite: #fff;
$colorCardTitle: #0d2e57;
$colorText: #8a8a8a;
$colorBorder: rgba(0, 0, 0, .2);
$colorList: #f0f0f0;
$bgHeader: rgba(33, 33, 33, .4);
$borderHeaderFooter: rgba(255, 255, 255, .2);
$colorLogo: #f5f5f5;

//@import './main/main.scss', './burger/burger.scss', './buttons/buttons.scss', './feature_item/feature_item.scss', './input_letter/input_letter.scss', './links/links.scss', './logo/logo.scss', './navs_page/navs_page.scss', './offers_items/offers_items.scss', './page_name/page_name.scss', './prodacts/products.scss', './search/search.scss';

@import "./main", "./burger", "./buttons", "./feature_item", "./input_letter", "./links", "./logo", "./navs_page", "./offers_items", "./page_name", "./products", "./search";
