body {
    margin: 0;
    background-color: #E5E5E5;
    box-sizing: border-box;
}

.content {
    max-width: 980px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.container {
    padding: 25px;
}

.block_title {
    font-family: 'KingsBureauGrot';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-bottom: 18px;
}

.image_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.025em;
    color: #333333;
    margin-top: 5px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

figure {
    margin: 0 auto;
    margin-bottom: 30px;
}

.big_foto {
    width: 100%;
}

.small_foto {
    width: 80%;
}


.horizontal_scroll {
    left: 20px;
    width: 100%;
}

.line {
    height: 8px;
    width: 100%;
    text-align: left;
    
}

.line_start {
    text-align: left;
    height: 8px;
    display: inline-block;
    width: 65%;
    background-color: #0A2D50;
}

.line_end {
    text-align: right;
    height: 8px;
    display: inline-block;
    width: 34.5%;
    background: linear-gradient(180deg, #EDF1F2 0%, rgba(237, 241, 242, 0.24) 43.29%, #EDF1F2 87.5%);
    background-image: -webkit-linear-gradient(180deg, #EDF1F2 0%, rgba(237, 241, 242, 0.24) 43.29%, #EDF1F2 87.5%);
    background-image: -moz-linear-gradient(180deg, #EDF1F2 0%, rgba(237, 241, 242, 0.24) 43.29%, #EDF1F2 87.5%);
}

.screenshots {
    max-width: 404px;
    border: 1px solid #8B9296;
}