* {
    box-sizing: border-box;
}

:root {
    --header_color_text: #FFFCFC;
    --page_color_text: #000000;
    --size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Rosario', sans-serif;
    background-color: #E5E5E5;
}

.container {
    display: flex;
    flex-direction: column;
}

.header .container {
    position: fixed;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo {
    height: 8.0625rem;
    object-fit: cover;
}
.logo img {
    height: 100%;
    width: 100%;
}
.big__nav {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    list-style-type: none;
}
.big__nav a {
    padding: 1.25rem;
    font-style: italic;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: var(--header_color_text);
    text-decoration: none;
}
.burger__nav {
    position: relative;
    display: none;
    margin-right: 2rem;
    
}
.burger {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob__nav {
    position: absolute;
    right: 100%;
    top: 0;
    display: none;
    flex-direction: column;
    background-color: #E5E5E5;
    list-style-type: none;
}
.mob__nav a {
    padding: 4.25rem;
    font-style: italic;
    font-weight: 700;
    font-size: 4.25rem;
    line-height: 2.75rem;
    color: var(--page_color_text);
    text-decoration: none;
    position: relative;
    display: flex;
}
.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: var(--page_color_text);
    transform: scale(0);
    transition: .5s;
    
}
.nav__link:hover::after {
    transform: scale(1);
    
    transition: .5s;
}

.burger__nav:hover .mob__nav {
    display: flex;
}




.box {
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 8.0625rem;
}
.gallery {
    padding: 2.94rem 2.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gallery__side {
    width: 40%;
    height: 50vh;
    border-radius: 2.5rem;
    overflow: hidden;
}
.gallery__side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery__container {
    width: calc(50% - 2rem);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center__side {
    width: 50%;
    height: calc(75vh - 2.62rem);
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.img__center {
    height: calc(50%);
    border-radius: 1.875rem;
    overflow: hidden;
    margin: 1.31rem 0;
}
.img__center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left {
    animation-duration: 3s;
    animation-name: slide_right;
    animation-delay: 0s;
}
@keyframes slide_right {
    from {
      transform:translateX(-200vw)
    }
  
    to {
        transform:translateX(0)
    }
  }
  .left_center {
    animation-duration: 3s;
    animation-name: slide_right_center;
    animation-delay: 0s;
  }
  @keyframes slide_right_center {
    from {
        transform:translateX(-100vw)
      }
    
      to {
          transform:translateX(0)
      }
  }
  .right_center {
      order: 1;
    animation-duration: 3s;
    animation-name: slide_left_center;
    animation-delay: 0s;
  }
  @keyframes slide_left_center {
    from {
        transform:translateX(100vw)
      }
    
      to {
          transform:translateX(0)
      }
  }
  .right {
      order: 2;
    animation-duration: 3s;
    animation-name: slide_left;
    animation-delay: 0s;
  }
  @keyframes slide_left {
    from {
      transform:translateX(200vw)
    }
  
    to {
        transform:translateX(0)
    }
  }


.serices {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 8.0625rem);
}
.serices__grid {
    order: 1;
    width: 50%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
}
.serices__grid a:link {
    text-decoration: none;
    color: var(--page_color_text);
}
.serices__grid a:visited {
    color: var(--page_color_text);
}
.grid__item {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.item__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.item__title {
    padding-top: 0.75rem;
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.grid1 {
    animation-name: grid1;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes grid1 {
    0%   {left:0; top:0;}
    25%  {left:100%; top:0;}
    50%  {left:100%; top:41vh;}
    75%  {left:0; top:41vh;}
    100% {left:0; top:0;}
  }
  .grid2 {
    animation-name: grid2;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes grid2 {
    0%   {left:0; top:0;}
    25%  {left:0; top:41vh;}
    50%  {left:-100%; top:41vh;}
    75%  {left:-100%; top:0;}
    100% {left:0; top:0;}
  }
  .grid3 {
    animation-name: grid3;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes grid3 {
    0%   {left:0; top:0;}
    25%  {left:0; top:-41vh;}
    50%  {left:100%; top:-41vh;}
    75%  {left:100%; top:0;}
    100% {left:0; top:0;}
  }
  .grid4 {
    animation-name: grid4;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes grid4 {
    0%   {left:0; top:0;}
    25%  {left:-100%; top:0;}
    50%  {left:-100%; top:-41vh;}
    75%  {left:0; top:-41vh;}
    100% {left:0; top:0;}
  }

.serices__image {
    order: 2;
    width: 50%;
}
.serices__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.team {
    height: calc(100vh - 8.0625rem);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.team__title {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.25rem;
    margin: 1rem 0;
}
.team__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.team__item {
    width: 20%;
    height: 60vh;
    border-radius: 2.5rem;
    overflow: hidden;
    position: relative;
}
.team__items img {
    width: 100%;
    height: 100%;
}
.hover {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgba(163, 83, 10, 0.7);
    justify-content: center;
    align-items: center;
    color: #FFFAFA;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    transition: all 1s ease-in-out;
    transform: translateY(100%);
    z-index: -1;
}
.team__item:hover .hover {
    z-index: 1;
    transform: translateY(0px);
    transition: all 1s ease-in-out;
}

.contacts {
    height: calc(100vh - 8.0625rem);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.contacts__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content__message {
    order: 1;
    width: 55%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.message__title {
    width: 100%;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
}
.message__form {
    background-color: #E5E5E5;
    width: 100%;
    height: 30vh;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
}
.form__imput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.form__imput input {
    width: 45%;
    height: 5vh;
    padding: 0.5rem;
}
.form__textarea textarea {
    width: 100%;
    height: 15vh;
    margin-top: 2vh;
    resize: none;
}
.content__map {
    order: 2;
    width: 40%;
    height: 50vh;
}
.content__map iframe {
    width: 100%;
    height: 100%;
}

.contacts__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}
.name {
    font-style: normal;
}
.ul__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-style: normal;
}
.contacts__footer li {
    display: flex;
    justify-content: center;
}
.instagram::before {
    content: "";
    background-image: url("../img/footer/pngwing\ 1.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 0.8rem;
}
.facebook::before {
    content: "";
    background-image: url("../img/footer/pngwing\ 2.svg");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 0.8rem;
}
.twitter::before {
    content: "";
    background-image: url("../img/footer/pngwing\ 3.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 0.8rem;
}
.contacts__footer a {
    text-decoration: none;
    color: var(--page_color_text);
}



@media screen and (min-width: 1301px) {
    .container {
        max-width: 101.25rem;
        margin: 0 auto;
    }
}


@media screen and (max-width: 1300px) {
    html {
        font-size: 12px !important;
    }
}


@media screen and (max-width: 1010px) {
    html {
        font-size: 8px !important;
    }
    .gallery {
        height: 100%;
    }
    .gallery__container {
        flex-direction: column;
        padding-top: 15rem;
    }
    .gallery__side {
        width: 100%;
        height: 25vh;
    }
    .center__side {
        width: 100%;
    }
    .img__center {
        height: 25vh;
    }
    .right_center {
        order: 2;
    }
    .left {
        animation-duration: 3s;
        animation-name: slide_right;
        animation-delay: 0s;
    }
    @keyframes slide_right {
        from {
          transform:translateX(-100vw)
        }
      
        to {
            transform:translateX(0)
        }
      }
      .right {
        order: 1;
      animation-duration: 3s;
      animation-name: slide_left;
      animation-delay: 0s;
    }
    @keyframes slide_left {
      from {
        transform:translateX(100vw)
      }
    
      to {
          transform:translateX(0)
      }
    }

    .serices {
        flex-direction: column;
    }
    .serices__grid {
        order: 2;
        width: 50%;
        margin: 0 auto;
        height: 50vh;
    }
    @keyframes grid1 {
        0%   {left:0; top:0;}
        25%  {left:100%; top:0;}
        50%  {left:100%; top:25vh;}
        75%  {left:0; top:25vh;}
        100% {left:0; top:0;}
    }
    @keyframes grid2 {
        0%   {left:0; top:0;}
        25%  {left:0; top:25vh;}
        50%  {left:-100%; top:25vh;}
        75%  {left:-100%; top:0;}
        100% {left:0; top:0;}
      }
      @keyframes grid3 {
        0%   {left:0; top:0;}
        25%  {left:0; top:-25vh;}
        50%  {left:100%; top:-25vh;}
        75%  {left:100%; top:0;}
        100% {left:0; top:0;}
      }
      @keyframes grid4 {
        0%   {left:0; top:0;}
        25%  {left:-100%; top:0;}
        50%  {left:-100%; top:-25vh;}
        75%  {left:0; top:-25vh;}
        100% {left:0; top:0;}
      }
    .serices__image {
        order: 1;
        width: 100%;
        height: 35vh;
        margin-bottom: 1rem;
    }

    .team {
        flex-direction: row;
    }
    .team__title {
        width: 50%;
        align-self: center;
        padding-left: 2rem;
    }
    .team__items {
        flex-wrap: wrap;
        padding-top: 5rem;
    }
    .team__item {
        width: 35%;
        height: 40vh;
    }

    .contacts {
        height: 100%;
    }
    .contacts__content {
        flex-direction: column;
        padding-top: 3rem;
    }
    .content__message {
        width: 70%;
        height: 30vh;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .content__map {
        width: 70%;
        height: 30vh;
        margin: 0 auto;
    }
    .message__title {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 4px !important;
    }
    .logo {
        height: 20rem;
    }
    .big__nav {
        display: none;
    }
    .burger__nav {
        display: flex;
    }
    .gallery {
        flex-direction: column;
        align-content: space-around;
        height: 100%;
        padding-top: 15rem;
    }
    .gallery__container {
        width: 100%;
        height: 50%;
        padding: 0;
    }
    .gallery__side {
        width: 80%;
        margin: 0 auto;
        height: 33%;
    }
    .center__side {
        height: 66%;
    }
    .img__center {
        width: 80%;
        margin: 0 auto;
        height: 50%;
        padding: 1rem 0;
        border-radius: 3.5rem;
    }
    
.left {
    animation-name: none;
}
  .left_center {
    animation-name: none;
  }
  .right_center {
    animation-name: none;
  }
  .right {
    animation-name: none;
  }
  .mob1 {
    animation-duration: 3s;
    animation-name: mob1;
    animation-delay: 0s;
  }
  @keyframes mob1 {
    from {
      transform:translateX(-100vw)
    }
  
    to {
        transform:translateX(0)
    }
  }
  .mob2 {
    animation-duration: 3s;
    animation-name: mob2;
    animation-delay: 0s;
  }
  @keyframes mob2 {
    from {
        transform:translateX(100vw)
    }

    to {
        transform:translateX(0)
    }
  }

  .serices__grid {
      height: 75vh;
      width: 75%;
      padding-top: 30rem;
  }
  @keyframes grid1 {
    0%   {left:0; top:0;}
    25%  {left:100%; top:0;}
    50%  {left:100%; top:34vh;}
    75%  {left:0; top:34vh;}
    100% {left:0; top:0;}
}
@keyframes grid2 {
    0%   {left:0; top:0;}
    25%  {left:0; top:34vh;}
    50%  {left:-100%; top:34vh;}
    75%  {left:-100%; top:0;}
    100% {left:0; top:0;}
  }
  @keyframes grid3 {
    0%   {left:0; top:0;}
    25%  {left:0; top:-34vh;}
    50%  {left:100%; top:-34vh;}
    75%  {left:100%; top:0;}
    100% {left:0; top:0;}
  }
  @keyframes grid4 {
    0%   {left:0; top:0;}
    25%  {left:-100%; top:0;}
    50%  {left:-100%; top:-34vh;}
    75%  {left:0; top:-34vh;}
    100% {left:0; top:0;}
  }
  .serices__image {
      display: none;
  }

  .team {
      flex-direction: row;
      height: 100%;
  }
  .team__items {
      padding-top: 15rem;
      padding-bottom: 2rem;
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 1rem;
  }
  .team__item {
      width: 30%;
      height: 23vh;
      margin: 0 auto;
  }
  .team__title {
      margin-left: 2rem;
  }


  .contacts {
      padding-top: 15rem;
  }
  .contacts__content {
      height: 65vh;
      margin-bottom: 1rem;
  }
  .content__message {
      order: 2;
  }
  .message__title {
      margin-bottom: 4rem;
  }
  .content__map {
      order: 1;
      margin-bottom: 3rem;
  }
  .contacts__footer {
      flex-direction: column;
      font-size: 2rem;
      margin: 0 0 3rem 0;
  }
  .info,
  .opening,
  .network {
      width: 70%;
      margin: 0 auto;
      padding: 2rem 0;
  }
  .contacts__footer li {
      margin-top: 1rem;
  }


}









