html {
    background-color: #E5E5E5;
}
h1, p {
    margin: 0;
}
body {
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #0B0A05;
    font-family: 'Open Sans';
    font-style: normal;
    max-width: 980px;
}
a:link {
    text-decoration: none;
    color: #072CB0;
}
a:visited {
    color: #072CB0;
}

.content {
    margin: 0 auto;
    max-width: 780px;
    padding: 130px 0;
    
}

.header h1 {  
    font-family: 'Playfair Display';  
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    padding-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
}
.header p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-top: 32px;
}

.container {
    margin-top: 64px;
}

.box {
    margin-top: 32px;
}
.box_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.02em;
}
.box_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-top: 16px;
}
.box_div {
    margin-top: 16px;
}
.div_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #284ACE;
    margin-right: 15px;
}

.box_p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    margin-top: 8px;
}

.italic {
    font-style: italic;
}




li {
	
	list-style-type: decimal; /* Оставляем нумерацию в IE6 и ниже */
}

ol {
	counter-reset: list1; /* Инициируем счётчик */
}

ol li::before {
	counter-increment: list1; /* Увеличиваем значение счетчика */
	content: counter(list1) ". "; /* Выводим значение типа 1., 2. и т. д.*/
    visibility: hidden; /* Делаем число пункта невидимым */
    font-size: 0; /* Убираем занимаемое числом место */
  /* display: none; не помог бы, потому что обнуляет нумерацию */
}

ol ol {
    
	counter-reset: list2; /* Инициируем счётчик вложенного списка */
}

ol ol li {
    list-style-type: none; /* Убираем нумерацию */
}

ol ol li::before {
	counter-increment: list2; /* Увеличиваем значение счётчика */
	content: counter(list1) "." counter(list2) ". "; /* Выводим значение типа 2.1, 2.2 и т. д. */
  /* К нумерации подпунктов применяются стили пунктов — убираем их: */
    visibility: visible;
    font-size: 100%;
}