* {
    box-sizing: border-box;
}

:root {
    --header_color_text: #FFFCFC;
    --page_color_text: #000000;
    --size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Rosario', sans-serif;
    background-color: #E5E5E5;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo {
    height: 129px;
    object-fit: cover;
}
.logo img {
    height: 100%;
    width: 100%;
}
.header ul {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}
.header ul a {
    padding: 1.25rem;
    font-style: italic;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: var(--header_color_text);
    text-decoration: none;
}




.box {
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 8.0625rem;
}
.gallery {
    padding: 2.94rem 2.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gallery__side {
    width: 20%;
    height: 50vh;
    border-radius: 2.5rem;
    overflow: hidden;
    
}
.gallery__side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left {
    animation-duration: 5s;
    animation-name: slide_right;
    animation-delay: 1s;
}
@keyframes slide_right {
    from {
      transform:translateX(-200%)
    }
  
    to {
        transform:translateX(0)
    }
  }
  .left_center {
    animation-duration: 3s;
    animation-name: slide_right_center;
    animation-delay: 1s;
  }
  @keyframes slide_right_center {
    from {
        transform:translateX(-100%)
      }
    
      to {
          transform:translateX(0)
      }
  }
  .right_center {
    animation-duration: 3s;
    animation-name: slide_left_center;
    animation-delay: 1s;
  }
  @keyframes slide_left_center {
    from {
        transform:translateX(100%)
      }
    
      to {
          transform:translateX(0)
      }
  }
  .right {
    animation-duration: 5s;
    animation-name: slide_left;
    animation-delay: 1s;
  }
  @keyframes slide_left {
    from {
      transform:translateX(200%)
    }
  
    to {
        transform:translateX(0)
    }
  }

.gallery__center {
    width: calc(100% - 40% - 4.5rem);
    margin: 0 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.center__side {
    width: calc(50% - 0.56rem);
    height: calc(75vh - 2.62rem);
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.img__center {
    height: calc(50%);
    border-radius: 1.875rem;
    overflow: hidden;
    margin: 1.31rem 0;
}
.img__center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.serices {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 8.0625rem);
}
.serices__grid {
    width: 50%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
}
.serices__grid a:link {
    text-decoration: none;
    color: var(--page_color_text);
}
.serices__grid a:visited {
    color: var(--page_color_text);
}
.grid__item {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.item__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.item__title {
    padding-top: 0.75rem;
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.grid1 {
    animation-name: grid1;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
@keyframes grid1 {
    0%   {left:0; top:0;}
    25%  {left:100%; top:0;}
    50%  {left:100%; top:41vh;}
    75%  {left:0; top:41vh;}
    100% {left:0; top:0;}
  }
  .grid2 {
    animation-name: grid2;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes grid2 {
    0%   {left:0; top:0;}
    25%  {left:0; top:41vh;}
    50%  {left:-100%; top:41vh;}
    75%  {left:-100%; top:0;}
    100% {left:0; top:0;}
  }
  .grid3 {
    animation-name: grid3;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes grid3 {
    0%   {left:0; top:0;}
    25%  {left:0; top:-41vh;}
    50%  {left:100%; top:-41vh;}
    75%  {left:100%; top:0;}
    100% {left:0; top:0;}
  }
  .grid4 {
    animation-name: grid4;
    animation-duration: 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes grid4 {
    0%   {left:0; top:0;}
    25%  {left:-100%; top:0;}
    50%  {left:-100%; top:-41vh;}
    75%  {left:0; top:-41vh;}
    100% {left:0; top:0;}
  }


.serices__image {
    width: 50%;
    
}
.serices__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team {
    height: calc(100vh - 8.0625rem);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.team__title {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.25rem;
    margin: 1rem 0;
}
.team__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.team__item {
    width: 20%;
    height: 60vh;
    border-radius: 2.5rem;
    overflow: hidden;
    position: relative;
}
.team__items img {
    width: 100%;
    height: 100%;
}
.hover {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgba(163, 83, 10, 0.7);
    justify-content: center;
    align-items: center;
    color: #FFFAFA;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    transition: all 1s ease-in-out;
    transform: translateY(100%);
    z-index: -1;
}
.team__item:hover .hover {
    z-index: 1;
    transform: translateY(0px);
    transition: all 1s ease-in-out;
}

.contacts {
    height: calc(100vh - 8.0625rem);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.contacts__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content__message {
    width: 55%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.message__title {
    width: 100%;
    height: 20vh;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
}
.message__form {
    background-color: #E5E5E5;
    width: 100%;
    height: 30vh;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
}
.form__imput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.form__imput input {
    width: 45%;
    height: 5vh;
    padding: 0.5rem;
}
.form__textarea textarea {
    width: 100%;
    height: 15vh;
    margin-top: 2vh;
    resize: none;
}
.content__map {
    width: 40%;
    height: 50vh;
}
.content__map iframe {
    width: 100%;
    height: 100%;
}

.contacts__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}
.name {
    font-style: normal;
}
.ul__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-style: normal;
}
.contacts__footer li {
    display: flex;
    justify-content: center;
}
.instagram::before {
    content: "";
    background-image: url("../img/footer/pngwing\ 1.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 0.8rem;
}
.facebook::before {
    content: "";
    background-image: url("../img/footer/pngwing\ 2.svg");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 0.8rem;
}
.twitter::before {
    content: "";
    background-image: url("../img/footer/pngwing\ 3.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 0.8rem;
}
.contacts__footer a {
    text-decoration: none;
    color: var(--page_color_text);
}



@media screen and (max-width: 1300px) {
    html {
        font-size: 12px !important;
    }
}


@media screen and (max-width: 1010px) {
    html {
        font-size: 8px !important;
    }
}

@media screen and (max-width: 760px) {
    html {
        font-size: 4px !important;
    }
}









