
body {
    font-family: 'Open Sans';
    font-style: normal;
}

a {
    text-decoration: none;
}

.navigation {
    width: 103px;
    height: 100vh;
}

.navigation:hover {
    width: 263px;
}

.menu {
    width: 90px;
    height: 100%;
    position: relative;
    border-right: 1px solid #413f3f;
}

.navigation:hover .menu {
    width: 250px;
}

.arrow {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 78px;
    background-color: #4A49CB;
}
.close {
    display: none;
}
.navigation:hover .close {
    display: block;
}
.navigation:hover .open {
    display: none;
}

.navigation:hover .arrow {
    left: 238px;
}

.content {
    margin-left: 103px;
}

.navigation:hover .content {
    margin-left: 263px;
}

.menu__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #4A49CB;
    color: #ffffff;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
}
.logo__info {
    position: absolute;
    top: 0;
    left: 60px;
    color: #000;
    display: none;
}
.info__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #222133;
}
.info__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7C7C7A;
}
.navigation:hover .logo__info {
    display: block;
}
.navigation:hover .menu__logo {
    margin-left: 20px;
}


.search__item {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    width: 56px;
    height: 48px;
    outline: none;
    padding-left: 56px;
}
.searc__label {
    position: absolute;
    left: 16px;
    top: 25%;
}
.search__text {
    display: none;
    position: absolute;
    top: 30%;
    left: 80px;
    color: #7C7C7A;
}
.navigation:hover .search__text {
    display: block;
}
.navigation:hover .search {
    margin-left: 20px;
    width: 218px;
    padding: 0 0 0 40px;
}
.navigation:hover .searc__label {
    left: 32px;
}
.search:hover {
    background-color: #F5F5F5;
    border-radius: 8px;
}
.search__item:hover .search__text {
    display: none;
}


.search:focus .search__text {
    display: none;
}



.list-item {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item__logo {
    width: 56px;
    height: 48px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__label {
    display: none;
    position: absolute;
    top: 30%;
    left: 70px;
    color: #7C7C7A;
}
.navigation:hover .list-item {
    margin-left: 20px;
    justify-content: flex-start;
    width: 218px;
}
.navigation:hover .item__label {
    display: block;
}
.list-item:hover {
    background-color: #F5F5F5;
    border-radius: 8px;
}



.form-check {
    margin-right: 25%;
    padding-right: 40px;
    height: 56px;
}

.form-check-label {
    display: none;
    color: #7C7C7A;
}
.text_left {
    margin-left: 16px;
}
.navigation:hover .form-check {
    display: block;
}
.navigation:hover .form-check-label {
    display: block;
}
.navigation:hover .form-switch.form-check-reverse .form-check-input {
    margin-right: -60px;
}

.navigation:hover .dark {
    display: none;
}


.form-check-input:checked ~ .light {
    display: none;
}
.form-check-input:checked ~ .dark {
    display: block;
}



.form-check-input:checked ~ .menu {
    background-color: black;
}
.form-check-input:checked ~ .menu__logo {
    background-color: #A492FF;
}