* {
    box-sizing: border-box;
}

:root {
    --color__text: #000000;
    --background: #FFFFFF;
    --size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    font-style: normal;
    background-color: #E5E5E5;
}
ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template: 10vh 1fr 10vh / 1fr;
}

.wrapper__title {
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0 2rem var(--color__text);
    padding: 1rem;
}


.content {
    background: #FFB084;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1.75rem 2.5rem;
    display: grid;
    gap: 1rem;
    grid-template: repeat(18, 1fr) / repeat(3, 1fr);

    grid-template-areas: 
        "name1        bio1         bio1"
        "name1        bio1         bio1"
        "name1        bio1         bio1"
        "name1        bio1         bio1"
        "name1        bio1         bio1"
        "name1        bio1         bio1"
        "name1        goals1       frustrations1"
        "name1        goals1       frustrations1"
        "name1        goals1       frustrations1"
        "name1        goals1       frustrations1"
        "name1        goals1       frustrations1"
        "name1        companies1   frustrations1"
        "name1        companies1   frustrations1"
        "name1        companies1   frustrations1"
        "name1        companies1   personality1"
        "sub__info1   companies1   personality1"
        "sub__info1   companies1   personality1"
        "sub__info1   companies1   personality1";
}


.content > div {
    background-color: var(--background);
    border-radius: 20px;
    display: grid;
    padding: 1rem 1.5rem;
    gap: 0.5rem;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color__text);
}


.bold__text {
    font-weight: 700;
}

.box__title {
    font-weight: 700;
    align-self: center;
}

.green {
    color: #29A71E;
}

.blue {
    color: #3675B0;
}

.red {
    color: #E13535;
}

.goals ul,
.companies ul,
.frustrations ul,
.personality ul {
    padding-left: 1rem;
}

.name {
    grid-area: name1;
    gap: 1rem;
    box-shadow: 7px 7px 0px #000000;
    display: grid;
}
.name ul {
    list-style-type: none;
    display: inline-grid;
    gap: 0.875rem;
}

.name__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
}
.foto {
    border: 1px solid #EB996B;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    justify-self: center;
    align-self: center;
}
.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub__info {
    grid-area: sub__info1;
    box-shadow: 7px 7px 0px #000000;
}

.bio {
    grid-area: bio1;
    box-shadow: 7px 7px 0px #000000;
}

.goals {
    grid-area: goals1;
    box-shadow: 7px 7px 0px #29A71E;
}

.companies {
    grid-area: companies1;
    box-shadow: 7px 7px 0px #3675B0;
}

.frustrations {
    grid-area: frustrations1;
    box-shadow: 7px 7px 0px #E13535;
}

.personality {
    grid-area: personality1;
    box-shadow: 7px 7px 0px #000000;
}
.personality ul {
    list-style-type: none;
    padding: 0;
}


@media screen and (max-width: 992px) {
    .content {
        grid-template: repeat(36, 1fr) / repeat(2, 1fr);
        grid-template-areas:
            "name1         name1"        
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "name1         name1"
            "sub__info1    sub__info1"
            "sub__info1    sub__info1"
            "sub__info1    sub__info1"
            "bio1          bio1"
            "bio1          bio1"
            "bio1          bio1"
            "bio1          bio1"
            "bio1          bio1"
            "bio1          bio1"
            "goals1        frustrations1"
            "goals1        frustrations1"
            "goals1        frustrations1"
            "goals1        frustrations1"
            "goals1        frustrations1"
            "companies1    frustrations1"
            "companies1    frustrations1"
            "companies1    frustrations1"
            "companies1    personality1"
            "companies1    personality1"
            "companies1    personality1"
            "companies1    personality1";
    }
}

@media screen and (max-width: 768px) {
    .content {
        grid-template: repeat(48, 1fr) / repeat(1, 1fr);
        grid-template-areas:
            "name1"        
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "name1"
            "sub__info1"
            "sub__info1"
            "sub__info1"
            "bio1"
            "bio1"
            "bio1"
            "bio1"
            "bio1"
            "bio1"
            "goals1"
            "goals1"
            "goals1"
            "goals1"
            "goals1"
            "companies1"
            "companies1"
            "companies1"
            "companies1"
            "companies1"
            "companies1"
            "companies1"
            "frustrations1"
            "frustrations1"
            "frustrations1"
            "frustrations1"
            "frustrations1"
            "frustrations1"
            "frustrations1"
            "frustrations1"
            "personality1"
            "personality1"
            "personality1"
            "personality1";
    }
}
