body {
    font-family: 'Montserrat';
    font-style: normal;
}

.citi {
    position: relative;
}
.citi:before {
    content: "";
    background-image: url("../img/adress.svg");
    width: 22px;
    height: 22px;
    position: absolute;
    top: 25%;
    left: 3%;
}

.page__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
}

.nav-link {
    border-radius: 10px;
}
@media screen and (min-width: 768px) {
    .page .nav-link:hover {
            background: #C4C4C4;
            border-radius: 10px;
        }
}

.card {
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
}

.order {
    display: none;
}
.order a {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 10px 23px;
    background-color: #FF6C01;
    border-radius: 10px;
    text-decoration: none;
}
.heart {
    padding-bottom: 10px;
}

.card:hover .order {
    display: block;
}
.card:hover .price {
    display: none;
}
.heart:hover svg {
    fill: green;
}

.shop_info {
    border-radius: 10px;
}
.box__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
}
.box__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}


.list__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__zakaz {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 25px 16px;
}
.zakaz__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 0 10px;
}
.zakaz__table {
    margin: 30px 0px;
}
.zakaz__table ul {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
}

.less, .more {
    width: 28px;
    height: 28px;
    color: #FFFFFF;
    background-color: #FF6C01;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}
.amount {
    padding: 0 5px;
}

a:link {
    text-decoration: none;
}
.zakaz__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #FF6C01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}


footer {
    background: linear-gradient(91.41deg, #323232 25.4%, #000000 75.33%);
    padding: 15px 0;
}
footer li {
    display: flex;
}
footer a {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 25px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    footer a {
        padding: 10px;
    }
}
