* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'PT Sans';
}

.content {
    background-color: #DCDCDC;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*Header*/
header {
    width: 100%;
    background-color: #202846;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 175px;
}

.nav {
    display: flex;
}
.nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.nav li {
    display: flex;
    max-width: 175px;
    align-items: center;
    margin: 0 10px;
}
.nav a {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}
.line {
    width: 2px;
    height: 59px;
    background-color: #FFFFFF;
}

.ua {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:  10px;
}
.world {
    width: 75px;
}
.ua__text {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #FFFFFF;
    padding-left: 8px;
}



/* Main */

main {
    width: 100%;
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
}
.main__container {
    max-width: 80%;
    margin: 0 auto;
}

.main__title {
    width: 100%;
    background-color: #C6C6DC;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    color: #202846;
    padding: 20px 0;
}

.main__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.location {
    background-color: #E8E8E8;
    margin: 50px 0;
    display: flex;
}
.location__text {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.61);
    padding: 20px;
}
.location__symbol {
    display: flex;
    text-align: end;
    align-items: center;
    width: 34px;
    color: #000;
    padding-right: 20px;
}

.item {
    margin: 40px 0;
    background-color: #BDBDC6;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.item:hover  .item__star path {
    fill: yellow;
}
.item__image {
    width: 30%;
    margin: 0 50px;
    object-fit: cover;
}
.item__image img {
    width: 100%;
    height: 100%;
}

.item__content {
    width: calc(100% - 30% - 190px);
}
.item__title {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: 10px;
}
.item__text {
    background-color: #D7D7DD;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #202846;
    text-align: center;
    padding: 20px;
}

.item__star {
    width: 50px;
    margin: 0 20px;
}
.item__star img {
    width: 100%;
}
.details {
    position: absolute;
    bottom: -2%;
    right: -2%;
    background-color: #202846;
    border-radius: 50px;
}
.details__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    padding: 10px 30px;
}
.details a {
    text-decoration: none;
}


.cirkle {
    background-color: rgba(85, 87, 104, 0.62);
    width: 101px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 70px;
    bottom: 70px;
}
.cirkle a {
    padding: 30px 50px;
}


footer {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #EEECF1;
    padding: 22px 60px;
    background-color: #202846;
}