
.block__image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.foto {
    background-color: #121212;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .block__image {
        grid-template-columns: repeat(2, 1fr);
    }
}