

.button__shop_now {
    text-align: center;
}

.button {
    background-color: var(--color__blue);
    border-radius: 25px;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.375rem;
    color: var(--color__white);
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.block__womens .button__shop_now {
    text-align: left;
    margin: 2rem 0 0 0;
}

.newsletter .button__shop_now {
    text-align: left;
    margin: 1.5rem 0 0 0;
}

.button__shop_now:hover .button {
    background-color: var(--color__hover);
}

.click_here {
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: var(--color__blue);
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}