.feauche__prodacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.prodacts {
    padding: 4rem 2rem 3rem;
    border: 1px solid var(--color__border);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.prodacts__image {
    width: 16.75rem;
    height: 10rem;
    margin-bottom: 2.75rem;
}

.prodacts__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
}

.prodacts:hover .prodacts__image img {
    transform: scale(2);
    transition: all 1s ease-in-out;
}

.prodacts__label {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--color__card__title);
    font-weight: 700;
    font-family: "Poppins";
    margin: 0 0 1rem 0;
}

.prodacts__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.prodacts__price .discount {
    margin: 0 0.5rem 0 0;
}

.block__mens {
    background-color: #232323;
    padding: 3rem;
}

.mens__title {
    font-size: 2.75rem;
    letter-spacing: -1px;
    line-height: 2.75rem;
    color: var(--color__white);
    font-weight: 700;
    font-family: "Poppins";
    text-transform: uppercase;
}

.mens__subtitle {
    font-size: 0.875rem;
    letter-spacing: 0.375rem;
    line-height: 1.25rem;
    color: var(--color__white);
    font-weight: 400;
    font-family: "Montserrat";
    margin: 2rem 0 3rem 0;
}

.block__mens .button__shop_now {
    text-align: left;
}

.block__mens .button {
    padding: 1rem 1.5rem;
}

.block__womens {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    background: url(../img/BG/Layer\ 17.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.5rem 0 3.125rem 3.125rem;
}

.womens__title {
    width: 50%;
    font-size: 3.75rem;
    letter-spacing: -1px;
    line-height: 3.75rem;
    color: var(--color__white);
    font-weight: 700;
    font-style: italic;
    font-family: "Poppins";
}



.block__click_here {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

@media screen and (max-width: 768px) {
    .feauche__prodacts {
        grid-template-columns: repeat(2, 1fr);
    }

    .prodacts {
        align-items: center;
    }

    .block__womens {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .block__click_here {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
    }
}