.footer {
    max-width: 93.75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 6.25rem 0;
}

.navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2.5rem 5rem;
    border-bottom: 1px solid var(--border_header_footer);
}

.footer__title {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 30px;
    color: var(--color__blue);
    font-weight: 400;
    font-family: "Poppins";
    text-transform: uppercase;
    margin: 0 0 3rem 0;
}

.list a {
    color: var(--color__list);
    text-decoration: none;
    padding: 0.5rem 0;
}

.list a:hover {
    text-shadow: 2px 2px 10px var(--color__hover);
    color: var(--color__hover);
}

.connected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.connected .footer__title {
    margin: 0 0 1.5rem 0;
}

.stay_connected ul {
    display: flex;
    flex-direction: row;
}

.stay_connected a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color__white);
    margin: 0 1.625rem 0 0;
    padding: 1rem;
}

.stay_connected a:hover {
    background-color: var(--color__hover);
}

.stay_connected img {
    height: 20px;
    width: 20px;
}

.newsletter {
    margin: 5.5rem 0 0 0;
    width: 100%;
}

.newsletter__input {
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem;
    background-color: #2f2f2f;
    border: none;
    color: var(--color__white);
}


@media screen and (max-width: 1200px) {
    .navigate {
        flex-direction: column;
    }

    .list {
        margin: 0 0 2.5rem 0;
    }

    .connected {
        margin: 2.5rem 0 0 0;
    }
}