
.header_main_image {
    width: 52rem;
    padding-top: 15rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8.75rem;
}

.page__title {
    font-size: 12.75rem;
    letter-spacing: -1rem;
    line-height: 9.25rem;
    color: var(--color__white);
    font-weight: 700;
    font-family: "Poppins";
    text-align: center;
    text-transform: uppercase;
}

.page__sub-title {
    font-size: 1.25rem;
    letter-spacing: 0.5rem;
    line-height: 1.75rem;
    color: var(--color__white);
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 1.5rem;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
}