.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--border_header_footer);
    background-color: var(--bg__header);
    max-width: 112.5rem;
    margin: 0 auto;

}

.header__left,
.header__right {
    display: flex;
    flex-direction: row;
}

.header__left li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border_header_footer);
}

.header__right li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--border_header_footer);
}

.burger {
    width: 1.875rem;
    height: 1.25rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: 1.875rem;
    cursor: pointer;
}

.burger span {
    width: 1.875rem;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color__white);

}

.burger span:nth-of-type(2) {
    top: calc(50% - 0.375rem);
}

.burger span:nth-of-type(3) {
    top: calc(50% + 0.375rem);
}


.logo a {
    font-size: 2rem;
    letter-spacing: -2px;
    line-height: 4rem;
    color: var(--color__logo);
    font-weight: 900;
    font-family: "Poppins";
    text-decoration: none;
    padding: 0 1.5rem;
    text-transform: uppercase;
}

.logo a:hover {
    text-shadow: 2px 2px 5px var(--color__hover);
}

.product__group ul {
    display: flex;
    flex-direction: row;
    padding: 0 1.125rem;
}

.product__group li {
    border: none;
}

.product__group li a {
    font-size: 0.875rem;
    letter-spacing: 0px;
    line-height: 1.625rem;
    color: var(--color__white);
    font-weight: 600;
    font-family: "Montserrat";
    padding: 1.125rem;
    text-decoration: none;
    text-transform: uppercase;
}

.product__group li a:hover {
    color: var(--color__hover);
}

.networks ul {
    display: flex;
    flex-direction: row;
    padding: 0 1.125rem;
}

.networks li {
    border: none;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.networks a,
.cart a,
.search a {
    padding: 1.125rem;
}

.search__input {
    display: none;
    width: 15rem;
    border-radius: 10px;
    padding: 1.125rem;
}

.search:hover .search__img {
    display: none;
}

.search:hover .search__input {
    display: block;
}


@media screen and (max-width: 768px) {

    .header__content {
        flex-direction: column;
        align-items: center;
    }

    .header__left {
        flex-direction: column;
    }

    .header__right {
        display: none;
    }

    .header__left li,
    .header__right li {
        border: none;
    }

    .logo a {
        font-size: 4rem;
    }

    .product__group li a {
        font-size: 2rem;
        margin-top: 1rem;
    }
}