
* {
    box-sizing: border-box;
}

:root {
    --size: 16px;
    --color__blue: #3954d9;
    --color__hover: #65cbff;
    --color__white: #fff;
    --color__card__title: #0d2e57;
    --color__text: #8a8a8a;
    --color__border: rgba(0, 0, 0, .2);
    --color__list: #f0f0f0;
    --bg__header: rgba(33, 33, 33, .4);
    --border_header_footer: rgba(255, 255, 255, .2);
    --color__logo: #f5f5f5;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 53, 53);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content {
    margin: 0 auto;
    max-width: 112.5rem;
    display: flex;
    flex-direction: column;
    background: url(../img/BG/Footer\ BG.png), url(../img/BG/image.jpg), #FFFFFF;
    background-repeat: no-repeat no-repeat;
    background-position: bottom, top, 100% 100%;
    background-size: 100% 43.75rem, 100% 56.25rem, 100% 100%;
}




.container {
    max-width: 93.75rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 1);
}






@media screen and (max-width: 1600px) {
    html {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 8px !important;
    }
    .content {
        background-size: 100% 110.75rem, 100% 56.25rem, 100% 100%;
    }
}

@media screen and (max-width: 768px) {
    html {
            font-size: 6px !important;
    }
}
