

.wrapper__brands {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.brands {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.75rem;
    border: 1px solid rgba(0, 0, 0, .2);
}

.brands img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media screen and (max-width: 768px) {
    .wrapper__brands {
        grid-template-columns: repeat(3, 1fr);
    }
}