body{
    margin: 0;
}

.wrapper {
    background-color: #E5E5E5;
}



.item {
    display: inline-block;
    width: 512px;
    height: 512px;
    margin: 50px;
    position: relative;
    background-color: #FFFFFF;
}

.circle {
    border-radius: 50%;
    width: 444px;
    height: 444px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.ukraine {
    background: -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
}

.ukraine__line {
    background: url("./img/Glyph.png"), -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Glyph.png"), -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Glyph.png"), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%, 100% 100%;
    background-size: 75% auto, 100% 100%;
}
.ukraine__half {
    background: url("./img/Glyph.png"), -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Glyph.png"), -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Glyph.png"), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background-repeat: no-repeat no-repeat;
    background-position: 50% 85%, 100% 100%;
    background-size: 75% auto, 100% 100%;
}

.ukraine__left {
    background: url("./img/Group.png"), -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Group.png"), -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Group.png"), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background-repeat: no-repeat no-repeat;
    background-position: 0 50%, 100% 100%;
    background-size: 75% auto, 100% 100%;
}

.ukraine__center {
    background: url("./img/Group.png"), -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Group.png"), -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Group.png"), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%, 100% 100%;
    background-size: 60% auto, 100% 100%;
}

.ukraine__right {
    background: url("./img/Plane.png"), -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Plane.png"), -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Plane.png"), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background-repeat: no-repeat no-repeat;
    background-position: 100% 100%, 100% 100%;
    background-size: 70% auto, 100% 100%;
}

.ukraine__plane {
    background: url("./img/Plane.png"), -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Plane.png"), -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Plane.png"), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%, 100% 100%;
    background-size: 60% auto, 100% 100%;
}

.ukraine__diya {
    background: url("./img/Vector.png"), -moz-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Vector.png"), -webkit-linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background: url("./img/Vector.png"), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%);
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%, 100% 100%;
    background-size: 60% auto, 100% 100%;
}

.black {
    background: linear-gradient(0deg, #FFCE22 50%, #2137FC 50%), url("./img/Vector.png"), #000000;
    background-repeat: no-repeat no-repeat;
    background-position: 50% 80%, 50% 50%, 100% 100%;
    background-size: 15% 10%, 50% auto, 100% 100%;
}

.black__flag {
    background: linear-gradient(0deg, #FFCE22 50%, #2137FC 50%), url("./img/Vector.png"), #000000;
    background-repeat: no-repeat no-repeat;
    background-position: 5% 5%, 50% 50%, 100% 100%;
    background-size: 15% 10%, 50% auto, 100% 100%;
}

.black__two {
    background: linear-gradient(0deg, #FFCE22 50%, #2137FC 50%), linear-gradient(0deg, #FFCE22 50%, #2137FC 50%), url("./img/Vector.png"), #000000;
    background-repeat: no-repeat no-repeat;
    background-position: 95% 5%, 5% 5%, 50% 50%, 100% 100%;
    background-size: 15% 10%, 15% 10%, 50% auto, 100% 100%;
}