* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Inika', serif;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header {
    padding: 25px;
}
.page__title {
    font-family: 'M PLUS 1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-align: center;
}
.blue__text {
    color: #3E45E8;
}
.yellow__text {
    color: #E8C23E;
}

.title_image {
    width: 100%;
    height: 803px;
    background-image: url(./img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.image__block {
    width: 90%;
    padding-left: 80px;
    padding-top: 200px;
}

.image_text {
    width: calc(99% - 25px);
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;
    background-image: -moz-linear-gradient(#1E8DF2, #FBE201);
    background-image: -webkit-linear-gradient(#1E8DF2, #FBE201);
    background: linear-gradient(#1E8DF2, #FBE201);
    background-size: 22px 384px;
    background-repeat: no-repeat;
    padding-left: 38px;
}

.card {
    margin-top: 72px;
    padding: 0 80px;
    text-align: left;
}

.box__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
    margin-bottom: 25px;
}

.box__line {
    
    width: 402px;
    height: 10px;
    background-color: #3E45E8;
}

.card__items {
    margin-top: 30px;
}

.card__item {
    display: inline-block;
    width: 31%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    vertical-align: top;
    cursor: pointer;
}

.margin__item {
    margin: 0 40px;
}

.item__image img {
    width: 100%;
    border-radius: 30px 30px 10px 10px;
}

.item__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #1E8DF2;
    padding: 13px 0 0 13px;
}

.item__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;
    padding: 13px 0 75px 13px;
}

.container {
    text-align: center;
    margin-top: 72px;
}

.container .box__line {
    margin: 0 auto;
}

.container__image {
    margin-top: 0 auto;
    
}

.container__image img {
    max-width: 812px;
    margin: 40px 0;
}

.container__button {
    margin-bottom: 20px;
}
.button {
    
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 157.3%;
    color: #FFFFFF;
    padding: 10px 92px;
    background-color: #2A61F0;
    text-decoration: none;
}

.footer {
    background-color: #2F4A4B;
    text-align: center;
    font-family: 'Marcellus SC', serif;
}

.footer .page__title {
    margin-bottom: 30px;
}

.info {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    margin-bottom: 20px;
}

.info a:link {
    color: #A89D9D;
    text-decoration: none;
}

.network {
    padding-bottom: 20px;
}
.network img {
    margin: 0 15px;
}

